* {
    font-family: monospace;
}

nav {
    padding: 3% 20%;
    display: flex;
    justify-content: space-around;
    font-size: larger;
}

.title {
    text-align: center;
}

article {
    text-align: center;
}

.card {
    display: inline-block;
    height: 520px;
    width: 400px;
    margin: 30px;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 6px;
}

img {
    width: 100%;
}

.newstxt {
    height: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
}

h4 h1 {
    margin: 3px;
}

.video {
    margin: 30px;
    display: inline-block;
}

.medias {
    text-align: center;
}

iframe {
    width: 560;
    height: 315;
    padding: 15px;
}

.videotitle {
    height: 30px;
    text-align: left;
    border-bottom: solid 2px gray;
}

.podcast {
    display: inline-block;
}

footer {
    text-align: center;
}

#saibaMais {
    margin: 350px;
}

#sobre {
    margin: 350px;
    width: 60%;
    height: 500px;
    display: inline-table;
}

#picture {
    width: 30%;
    height: 100%;
    float: left;
    ;
}

#textosobre {
    width: 100%;
    text-align: right;
}

#linkedin {
    max-width: 72px;
}

#contato {
    text-align: center;
    margin: 350px;
    border: solid 1px gray;
    height: 230px;
    width: 520;
}